<nav class="navbar bg-dark">
    <h2>Cyclist store</h2>
    <ul>
        <li routerLinkActive="active">
            <a href="#">Bicycles</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Components</a>
        </li>
        <li routerLinkActive="active">
            <a href="#">Tools</a>
        </li>
      <li routerLinkActive="active">
        <a href="#">Clothes</a>
      </li>
      <li routerLinkActive="active">
        <a href="#">Discounts</a>
      </li>
      <li routerLinkActive="active">
        <a href="#">Services</a>
      </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/cart']">Cart</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
